%br/
.center
  :markdown
    **picHack3r** is just a simple example of a file upload servide using the `paperclip` gem, which is really useful. Built by [Pablo Merino](http://pmerino.me). Code on [Github](http://github.com/pablo-merino/pichack3r).